$body-family: $font-family-base;
$body-size: $font-size-base;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;

  font-size: $font-size-base;
  text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

input,
select,
textarea,
button {
  border: none;
  outline: none !important;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    outline: none !important;
  }

  &[disabled] {
    pointer-events: none;
  }
}

input,
select,
textarea {
  outline: none !important;

  &:focus {
    outline: none !important;
  }
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

input,
select,
textarea {
  outline: none !important;

  &:focus {
    outline: none !important;
  }
}

body,
html {
  &.hidden {
    overflow: hidden;
  }
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}
