@import '../../assets/styles/mixins/media';
@import '../../assets/styles/vars';

.Credit {
  text-align: center;
  &-text {
    font-weight: $font-weight-medium;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $black;
  }

  &-result {
    font-weight: $font-weight-normal;
    font-size: $font-size-xlg;
    line-height: $line-height-base;
    color: $black;
    margin-bottom: 80px;
  }

  &-active {
    background: $button-bg;
    background-blend-mode: overlay;
    color: white;
  }

  &-input {
    width: 100%;
    height: 40px;
    border: 1px solid $gray;
    padding-left: 10px;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
    outline: 0;
    &:hover {
      border: 1px solid $black;
    }

    &:focus {
      border: 1px solid $gray;
    }

    &_error {
      border: 1px solid $red;
    }
  }

  &-months {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
  }

  &-month {
    margin-left: 40px;
    @include rwd(360) {
      margin-left: 0;
    }
  }

  &-error {
    font-size: $font-size-xsm;
    font-weight: $font-weight-normal;
    line-height: $line-height-sm;
    color: $red;
    margin-top: 5px;
  }
}
